#error-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffd5d5;
    padding: 8px 0;
    z-index: 10;
    display: none;
}

#error-container.show {
    display: block;
}

#error-message {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

#messages-container {
    padding: 10px;
    margin-bottom: 56px;
}

.message {
    display: block;
    max-width: 70%;
    margin-bottom: 16px;
}

#messages-container .message:last-child {
    margin-bottom: 0;
}

.message.send {
    margin-left: auto;
    text-align: right;
}

.message.receive {
    margin-right: auto;
    text-align: left;
}

.message-content {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: normal;
    border-radius: 12px;
    padding: 6px 10px;
    text-align: left;
    white-space: pre-wrap;
}

.message.send .message-content {
    background-color: #039be5;
    color: white;
}

.message.receive .message-content {
    background-color: white;
    color: black;
}

.message-timestamp {
    font-size: 12px;
    color: #666;
    margin-top: 6px;
}

#new-message-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid #CCC;
    padding: 10px;
}

#new-message-form {

}

#message-input {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 70px);
    height: auto;
    min-height: 36px;
    max-height: 108px;
    padding: 8px;
    font-size: 16px;
    border-radius: 2px;
    overflow-y: scroll;
}

div[contenteditable].invalid {
    border: 1px solid red;
}

#send-message {
    display: inline-block;
    vertical-align: bottom;
    background-color: #659157;
    border: none;
    width: 60px;
    margin-left: 10px;
    border-radius: 2px;
    height: 36px;
    font-size: 18px;
    line-height: normal;
    color: white;
    text-align: center;
}