#error-container {
    background-color: #D8000C;
    padding: 8px 0;
    display: none;
}

#error-container.show {
    display: block;
}

#error-message {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 14px;
}

#create-container {
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#create-inner {
    background-color: white;
    border: 1px solid #CCC;
    padding: 20px;
}

#logo-container {
    text-align: center;
}

#logo {
    font-size: 120px;
    color: #039be5;
}

#create-form {
    margin-top: 20px;
}

.input-container {
    margin-top: 10px;
}

.input-container label {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 4px;
}

.input-container input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 2px;
}

#fname-input, #lname-input {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-radius: 0;
}

#fname-input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: relative;
}

#lname-input {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
}

.invalid {
    border: 1px solid red;
}

#create {
    display: block;
    width: 100%;
    border: none;
    background-color: #039be5;
    font-size: 20px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

#create .fa {
    margin-left: 10px;
}

#login {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 11px;
}